{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}

        <div class="bg-white">
            <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
            <div class="text-center">
                <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Hello React!</p>
                <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">This is a simple example of a React component rendered in a Symfony page.</p>
                <div {{ react_component('MyComponent', { 'name': 'Emmanuel' }) }}></div>
                <div {{ react_component('Modal', {'button': 'bouton'}) }}></div>
                <div {{ react_component('Dropdown') }}></div>
            </div>
            </div>
        </div>
{% endblock %}

    
